ion-title {
    background-color: #FDB703;
    .image_title {
        height: 50px;
    }
    .Title {
        color: #241A00;
        font-weight: 900;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

ion-content {
    --ion-background-color:#FFF5DB;
}